In [ ]:
# 日期特征处理
# 使用五折交叉验证
# 使用lightgbm
# score of prob：0.88479

# 数据预处理

In [1]:
import pandas as pd

# 数据加载
train = pd.read_csv('./train.csv')
train

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,199,37,982871,1997-07-27,IN,250/500,500,1262.08,0,474615,...,NO,60170,10940,10940,38290,Nissan,Pathfinder,2011,1,NaN
696,232,43,751905,2001-05-16,OH,250/500,500,1483.91,8000000,431531,...,?,70600,7060,14120,49420,Volkswagen,Passat,2013,1,NaN
697,215,37,761189,2002-12-28,IN,100/300,500,1632.93,0,614417,...,YES,57120,9520,4760,42840,Mercedes,C300,2002,0,NaN
698,270,44,701521,2003-07-05,IL,500/1000,2000,1030.95,0,435985,...,NO,35900,7180,3590,25130,Audi,A3,2007,1,NaN
699,269,45,596298,1996-08-23,IN,500/1000,500,1330.46,0,435552,...,NO,24200,2200,4400,17600,Suburu,Forrestor,2008,0,NaN

In [2]:
test = pd.read_csv('./test.csv')
test

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,_c39
0,479,60,698589,2002-11-28,IL,500/1000,1000,1188.45,0,459295,...,3,?,53900,5390,10780,37730,Saab,95,2006,NaN
1,167,36,287489,1994-02-03,IL,100/300,1000,949.44,0,448603,...,0,NO,69680,8710,8710,52260,Mercedes,ML350,2008,NaN
2,148,36,211578,1996-01-04,IL,500/1000,1000,1236.32,5000000,616929,...,0,NO,61050,5550,11100,44400,Dodge,Neon,2009,NaN
3,69,24,807369,1992-06-19,IN,500/1000,500,1418.50,0,614948,...,0,NO,63300,12660,6330,44310,Dodge,RAM,2012,NaN
4,236,39,830878,1996-11-03,IN,250/500,1000,1151.39,4000000,604555,...,0,?,8700,870,1740,6090,Accura,RSX,2003,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
296,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
297,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
298,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
299,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [3]:
# 合并train、test
data = pd.concat([train, test], axis=0)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,YES,4700,940,470,3290,Dodge,Neon,2002,NaN,NaN
296,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,NaN
297,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN,NaN
298,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,NaN
299,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN,NaN

In [39]:
list(data.columns)

['months_as_customer',
 'age',
 'policy_state',
 'policy_csl',
 'policy_deductable',
 'policy_annual_premium',
 'umbrella_limit',
 'insured_zip',
 'insured_sex',
 'insured_education_level',
 'insured_occupation',
 'insured_hobbies',
 'insured_relationship',
 'capital-gains',
 'capital-loss',
 'incident_type',
 'collision_type',
 'incident_severity',
 'authorities_contacted',
 'incident_state',
 'incident_city',
 'incident_location',
 'incident_hour_of_the_day',
 'number_of_vehicles_involved',
 'property_damage',
 'bodily_injuries',
 'witnesses',
 'police_report_available',
 'total_claim_amount',
 'injury_claim',
 'property_claim',
 'vehicle_claim',
 'auto_make',
 'auto_model',
 'auto_year',
 'fraud_reported',
 'policy_bind_date_diff',
 'incident_date_diff',
 'incident_date_policy_bind_date_diff',
 'policy_bind_date_weekday',
 'incident_date_weekday']

In [4]:
data.index = range(len(data))
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0,NaN
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0,NaN
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0,NaN
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0,NaN
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,YES,58960,5360,10720,42880,Ford,F150,2004,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,YES,4700,940,470,3290,Dodge,Neon,2002,NaN,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN,NaN

In [5]:
# 数据探索
data.isnull().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                  300
_c39                           1000
dtype: int64

In [6]:
# 唯一值个数
for col in data.columns:
    print(col, data[col].nunique())

months_as_customer 391
age 46
policy_number 1000
policy_bind_date 951
policy_state 3
policy_csl 3
policy_deductable 3
policy_annual_premium 991
umbrella_limit 11
insured_zip 995
insured_sex 2
insured_education_level 7
insured_occupation 14
insured_hobbies 20
insured_relationship 6
capital-gains 338
capital-loss 354
incident_date 60
incident_type 4
collision_type 4
incident_severity 4
authorities_contacted 5
incident_state 7
incident_city 7
incident_location 1000
incident_hour_of_the_day 24
number_of_vehicles_involved 4
property_damage 3
bodily_injuries 3
witnesses 4
police_report_available 3
total_claim_amount 763
injury_claim 638
property_claim 626
vehicle_claim 726
auto_make 14
auto_model 39
auto_year 21
fraud_reported 2
_c39 0

In [7]:
# 去掉没有用的字段
data.drop('_c39',axis=1, inplace=True)
data

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,187,37,125591,2013-08-08,IN,500/1000,1000,1412.06,5000000,450947,...,3,?,57700,5770,5770,46160,Nissan,Maxima,2000,0.0
1,243,44,967713,1997-12-25,IL,250/500,500,809.11,0,600208,...,1,YES,51400,5140,10280,35980,Honda,Civic,1996,0.0
2,24,33,649082,1996-01-19,IL,500/1000,1000,1922.84,0,431277,...,1,NO,46800,4680,9360,32760,Jeep,Wrangler,2002,0.0
3,215,42,519312,2008-10-28,OH,500/1000,500,1848.81,0,435489,...,2,YES,68520,11420,5710,51390,Suburu,Legacy,2003,1.0
4,85,30,190588,2001-12-09,OH,100/300,1000,796.35,0,614166,...,1,YES,58960,5360,10720,42880,Ford,F150,2004,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,1999-08-15,IL,500/1000,2000,1318.24,9000000,601748,...,1,YES,4700,940,470,3290,Dodge,Neon,2002,NaN
996,297,47,272330,2009-11-29,IN,250/500,500,1616.65,7000000,456363,...,3,YES,44400,5550,5550,33300,Jeep,Grand Cherokee,1999,NaN
997,251,39,315631,1999-04-09,IN,500/1000,2000,1231.98,0,612908,...,0,?,44240,5530,5530,33180,Dodge,RAM,1997,NaN
998,54,35,445195,2010-09-27,IN,100/300,500,1261.28,0,453265,...,0,?,79090,14380,7190,57520,Nissan,Maxima,2012,NaN
999,155,34,914815,1990-09-27,IN,100/300,500,1706.79,0,462479,...,1,YES,77040,8560,8560,59920,Honda,Civic,1998,NaN

In [8]:
# 类别特征
cat_columns = data.select_dtypes(include='O').columns  # 字母O，不是0
cat_columns

Index(['policy_bind_date', 'policy_state', 'policy_csl', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'incident_date', 'incident_type',
       'collision_type', 'incident_severity', 'authorities_contacted',
       'incident_state', 'incident_city', 'incident_location',
       'property_damage', 'police_report_available', 'auto_make',
       'auto_model'],
      dtype='object')

In [9]:
column_name = []
unique_value = []
for col in cat_columns:
    print(col, data[col].nunique())
    column_name.append(col)
    unique_value.append(data[col].nunique())
    
df = pd.DataFrame()
df['col_name'] = column_name
df['value'] = unique_value
df = df.sort_values('value', ascending=False)
df

policy_bind_date 951
policy_state 3
policy_csl 3
insured_sex 2
insured_education_level 7
insured_occupation 14
insured_hobbies 20
insured_relationship 6
incident_date 60
incident_type 4
collision_type 4
incident_severity 4
authorities_contacted 5
incident_state 7
incident_city 7
incident_location 1000
property_damage 3
police_report_available 3
auto_make 14
auto_model 39

                   col_name  value
15        incident_location   1000
0          policy_bind_date    951
8             incident_date     60
19               auto_model     39
6           insured_hobbies     20
5        insured_occupation     14
18                auto_make     14
4   insured_education_level      7
13           incident_state      7
14            incident_city      7
7      insured_relationship      6
12    authorities_contacted      5
9             incident_type      4
11        incident_severity      4
10           collision_type      4
1              policy_state      3
2                policy_csl      3
16          property_damage      3
17  police_report_available      3
3               insured_sex      2

In [10]:
data[cat_columns]

,policy_bind_date,policy_state,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_date,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,property_damage,police_report_available,auto_make,auto_model
0,2013-08-08,IN,500/1000,FEMALE,Masters,protective-serv,reading,not-in-family,2015-01-16,Single Vehicle Collision,Side Collision,Total Loss,Ambulance,NC,Riverwood,7082 Oak Ridge,?,?,Nissan,Maxima
1,1997-12-25,IL,250/500,MALE,JD,craft-repair,polo,other-relative,2015-01-27,Multi-vehicle Collision,Side Collision,Minor Damage,Other,NC,Springfield,9352 Washington Ave,?,YES,Honda,Civic
2,1996-01-19,IL,500/1000,FEMALE,High School,machine-op-inspct,skydiving,wife,2015-01-24,Single Vehicle Collision,Side Collision,Total Loss,Police,WV,Northbend,5061 Francis Ave,?,NO,Jeep,Wrangler
3,2008-10-28,OH,500/1000,MALE,JD,transport-moving,video-games,own-child,2015-02-06,Multi-vehicle Collision,Front Collision,Major Damage,Fire,WV,Northbend,2457 Washington Ave,YES,YES,Suburu,Legacy
4,2001-12-09,OH,100/300,FEMALE,MD,craft-repair,video-games,own-child,2015-02-20,Multi-vehicle Collision,Rear Collision,Total Loss,Fire,SC,Northbend,2290 4th Ave,YES,YES,Ford,F150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1999-08-15,IL,500/1000,FEMALE,College,prof-specialty,kayaking,not-in-family,2015-01-30,Parked Car,?,Trivial Damage,None,WV,Arlington,5540 Sky St,NO,YES,Dodge,Neon
996,2009-11-29,IN,250/500,MALE,MD,adm-clerical,movies,unmarried,2015-01-16,Multi-vehicle Collision,Side Collision,Total Loss,Fire,WV,Columbus,1087 Flute Drive,?,YES,Jeep,Grand Cherokee
997,1999-04-09,IN,500/1000,FEMALE,Associate,other-service,hiking,not-in-family,2015-01-08,Single Vehicle Collision,Rear Collision,Minor Damage,Police,NY,Hillsdale,1381 Francis Ave,YES,?,Dodge,RAM
998,2010-09-27,IN,100/300,FEMALE,MD,protective-serv,hiking,unmarried,2015-02-25,Multi-vehicle Collision,Side Collision,Minor Damage,Fire,VA,Springfield,5028 Maple Ridge,YES,?,Nissan,Maxima
999,1990-09-27,IN,100/300,MALE,Masters,protective-serv,dancing,other-relative,2015-01-07,Single Vehicle Collision,Front Collision,Minor Damage,Ambulance,OH,Hillsdale,9706 MLK Lane,NO,YES,Honda,Civic

# 对包含？的字段进行处理

In [11]:
# 单独看某个字段
data['property_damage'].value_counts()
data['property_damage'] = data['property_damage'].map({'NO': 0, 'YES': 1, '?': 2})
data['property_damage'].value_counts()

2    360
0    338
1    302
Name: property_damage, dtype: int64

In [12]:
data['police_report_available'].value_counts()
data['police_report_available'] = data['police_report_available'].map({'NO': 0, 'YES': 1, '?': 2})
data['police_report_available'].value_counts()

2    343
0    343
1    314
Name: police_report_available, dtype: int64

# 对日期特征进行处理

In [13]:
# policy_bind_date、incident_date
data['policy_bind_date'] = pd.to_datetime(data['policy_bind_date'])
data['incident_date'] = pd.to_datetime(data['incident_date'])

# 查看最大日期、最小日期
data['policy_bind_date'].min()  # 1990-01-08 00:00:00
data['policy_bind_date'].max()  # 2015-02-22 00:00:00
data['incident_date'].min()     # 2015-01-01 00:00:00
data['incident_date'].max()     # 2015-03-01 00:00:00

Timestamp('2015-03-01 00:00:00')

In [14]:
base_date = data['policy_bind_date'].min()
# 转换为date_diff
data['policy_bind_date_diff'] = (data['policy_bind_date'] - base_date).dt.days

In [15]:
data['incident_date_diff'] = (data['incident_date'] - base_date).dt.days
data['incident_date_policy_bind_date_diff'] = (data['incident_date'] - data['policy_bind_date']).dt.days
data[['policy_bind_date', 'incident_date', 'policy_bind_date_diff', 'incident_date_diff', 'incident_date_policy_bind_date_diff']]

,policy_bind_date,incident_date,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff
0,2013-08-08,2015-01-16,8613,9139,526
1,1997-12-25,2015-01-27,2908,9150,6242
2,1996-01-19,2015-01-24,2202,9147,6945
3,2008-10-28,2015-02-06,6868,9160,2292
4,2001-12-09,2015-02-20,4353,9174,4821
...,...,...,...,...,...
995,1999-08-15,2015-01-30,3506,9153,5647
996,2009-11-29,2015-01-16,7265,9139,1874
997,1999-04-09,2015-01-08,3378,9131,5753
998,2010-09-27,2015-02-25,7567,9179,1612
999,1990-09-27,2015-01-07,262,9130,8868

In [16]:
data['policy_bind_date_weekday'] = data['policy_bind_date'].dt.weekday
data['incident_date_weekday'] = data['incident_date'].dt.weekday
data['policy_bind_date_weekday']

0      3
1      3
2      4
3      1
4      6
      ..
995    6
996    6
997    4
998    0
999    3
Name: policy_bind_date_weekday, Length: 1000, dtype: int64

In [17]:
# 去掉原始日期字段 policy_bind_date、incident_date
data.drop(['policy_bind_date', 'incident_date'], axis=1, inplace=True)
data

,months_as_customer,age,policy_number,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff,policy_bind_date_weekday,incident_date_weekday
0,187,37,125591,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,...,46160,Nissan,Maxima,2000,0.0,8613,9139,526,3,4
1,243,44,967713,IL,250/500,500,809.11,0,600208,MALE,...,35980,Honda,Civic,1996,0.0,2908,9150,6242,3,1
2,24,33,649082,IL,500/1000,1000,1922.84,0,431277,FEMALE,...,32760,Jeep,Wrangler,2002,0.0,2202,9147,6945,4,5
3,215,42,519312,OH,500/1000,500,1848.81,0,435489,MALE,...,51390,Suburu,Legacy,2003,1.0,6868,9160,2292,1,4
4,85,30,190588,OH,100/300,1000,796.35,0,614166,FEMALE,...,42880,Ford,F150,2004,0.0,4353,9174,4821,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,679370,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,...,3290,Dodge,Neon,2002,NaN,3506,9153,5647,6,4
996,297,47,272330,IN,250/500,500,1616.65,7000000,456363,MALE,...,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139,1874,6,4
997,251,39,315631,IN,500/1000,2000,1231.98,0,612908,FEMALE,...,33180,Dodge,RAM,1997,NaN,3378,9131,5753,4,3
998,54,35,445195,IN,100/300,500,1261.28,0,453265,FEMALE,...,57520,Nissan,Maxima,2012,NaN,7567,9179,1612,0,2
999,155,34,914815,IN,100/300,500,1706.79,0,462479,MALE,...,59920,Honda,Civic,1998,NaN,262,9130,8868,3,2

In [18]:
data['policy_number'].value_counts()

116735    1
193213    1
644081    1
963285    1
426708    1
         ..
218684    1
689500    1
398683    1
163161    1
786432    1
Name: policy_number, Length: 1000, dtype: int64

In [19]:
data.drop(['policy_number'],axis=1, inplace=True)
data

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff,policy_bind_date_weekday,incident_date_weekday
0,187,37,IN,500/1000,1000,1412.06,5000000,450947,FEMALE,Masters,...,46160,Nissan,Maxima,2000,0.0,8613,9139,526,3,4
1,243,44,IL,250/500,500,809.11,0,600208,MALE,JD,...,35980,Honda,Civic,1996,0.0,2908,9150,6242,3,1
2,24,33,IL,500/1000,1000,1922.84,0,431277,FEMALE,High School,...,32760,Jeep,Wrangler,2002,0.0,2202,9147,6945,4,5
3,215,42,OH,500/1000,500,1848.81,0,435489,MALE,JD,...,51390,Suburu,Legacy,2003,1.0,6868,9160,2292,1,4
4,85,30,OH,100/300,1000,796.35,0,614166,FEMALE,MD,...,42880,Ford,F150,2004,0.0,4353,9174,4821,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,31,36,IL,500/1000,2000,1318.24,9000000,601748,FEMALE,College,...,3290,Dodge,Neon,2002,NaN,3506,9153,5647,6,4
996,297,47,IN,250/500,500,1616.65,7000000,456363,MALE,MD,...,33300,Jeep,Grand Cherokee,1999,NaN,7265,9139,1874,6,4
997,251,39,IN,500/1000,2000,1231.98,0,612908,FEMALE,Associate,...,33180,Dodge,RAM,1997,NaN,3378,9131,5753,4,3
998,54,35,IN,100/300,500,1261.28,0,453265,FEMALE,MD,...,57520,Nissan,Maxima,2012,NaN,7567,9179,1612,0,2
999,155,34,IN,100/300,500,1706.79,0,462479,MALE,Masters,...,59920,Honda,Civic,1998,NaN,262,9130,8868,3,2

# 数据规范化

In [20]:
# 标签编码
from sklearn.preprocessing import LabelEncoder
cat_columns = data.select_dtypes(include='O').columns
for col in cat_columns:
    le = LabelEncoder()
    data[col] = le.fit_transform(data[col])
data[cat_columns]

,policy_state,policy_csl,insured_sex,insured_education_level,insured_occupation,insured_hobbies,insured_relationship,incident_type,collision_type,incident_severity,authorities_contacted,incident_state,incident_city,incident_location,auto_make,auto_model
0,1,2,0,5,10,15,1,2,3,2,0,0,5,680,9,26
1,0,1,1,3,2,14,2,0,3,1,3,0,6,935,6,10
2,0,2,0,2,6,16,5,2,3,2,4,6,3,456,7,36
3,2,2,1,3,13,18,3,0,1,0,1,6,3,157,11,21
4,2,0,0,4,2,18,3,0,2,2,1,4,3,141,5,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,2,0,1,9,11,1,1,0,3,2,6,0,503,4,27
996,1,1,1,4,0,12,4,0,3,2,1,6,1,3,7,17
997,1,2,0,0,7,10,1,2,2,1,4,1,2,40,4,30
998,1,0,0,4,10,10,4,0,3,1,1,5,6,452,9,26
999,1,0,1,5,10,7,2,2,1,1,0,2,2,966,6,10

In [21]:
# 数据集切分
train = data[data['fraud_reported'].notnull()]
test = data[data['fraud_reported'].isnull()]

In [26]:
train

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,policy_bind_date_diff,incident_date_diff,incident_date_policy_bind_date_diff,policy_bind_date_weekday,incident_date_weekday
0,187,37,1,2,1000,1412.06,5000000,450947,0,5,...,46160,9,26,2000,0.0,8613,9139,526,3,4
1,243,44,0,1,500,809.11,0,600208,1,3,...,35980,6,10,1996,0.0,2908,9150,6242,3,1
2,24,33,0,2,1000,1922.84,0,431277,0,2,...,32760,7,36,2002,0.0,2202,9147,6945,4,5
3,215,42,2,2,500,1848.81,0,435489,1,3,...,51390,11,21,2003,1.0,6868,9160,2292,1,4
4,85,30,2,0,1000,796.35,0,614166,0,4,...,42880,5,14,2004,0.0,4353,9174,4821,6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,199,37,1,1,500,1262.08,0,474615,1,3,...,38290,9,29,2011,1.0,2757,9131,6374,6,3
696,232,43,2,1,500,1483.91,8000000,431531,1,1,...,49420,13,28,2013,1.0,4146,9141,4995,2,6
697,215,37,1,0,500,1632.93,0,614417,0,1,...,42840,8,7,2002,0.0,4737,9177,4440,5,0
698,270,44,0,2,2000,1030.95,0,435985,0,0,...,25130,1,4,2007,1.0,4926,9157,4231,5,1
699,269,45,1,2,500,1330.46,0,435552,0,2,...,17600,11,15,2008,0.0,2419,9141,6722,4,6

In [30]:
train['fraud_reported']

0      0.0
1      0.0
2      0.0
3      1.0
4      0.0
      ...
695    1.0
696    1.0
697    0.0
698    1.0
699    0.0
Name: fraud_reported, Length: 700, dtype: float64

In [28]:
test.columns

Index(['months_as_customer', 'age', 'policy_state', 'policy_csl',
       'policy_deductable', 'policy_annual_premium', 'umbrella_limit',
       'insured_zip', 'insured_sex', 'insured_education_level',
       'insured_occupation', 'insured_hobbies', 'insured_relationship',
       'capital-gains', 'capital-loss', 'incident_type', 'collision_type',
       'incident_severity', 'authorities_contacted', 'incident_state',
       'incident_city', 'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported', 'policy_bind_date_diff',
       'incident_date_diff', 'incident_date_policy_bind_date_diff',
       'policy_bind_date_weekday', 'incident_date_weekday'],
      dtype='object')

# 模型训练-lightgbm

In [22]:
train['fraud_reported'].mean()

0.25857142857142856

In [35]:
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import accuracy_score

def ensemble_model(clf, train_x, train_y, test):
    # 采用五折交叉验证 ensemble model
    sk = StratifiedKFold(n_splits=5, shuffle=True, random_state=2021)
    prob = [] # 记录最终结果
    mean_acc = 0 # 记录平均准确率
    for k, (train_index, val_index) in enumerate(sk.split(train_x, train_y)):
        train_x_real = train_x.iloc[train_index]
        train_y_real = train_y.iloc[train_index]
        val_x = train_x.iloc[val_index]
        val_y = train_y.iloc[val_index]
        # 子模型训练
        clf.fit(train_x_real, train_y_real)
        val_y_pred = clf.predict(val_x)
        # 子模型评估
        acc_val = accuracy_score(val_y, val_y_pred)
        print('第{}个子模型acc{}'.format(k+1, acc_val))
        mean_acc += acc_val/5
        # 子模型预测
        test_y_pred = clf.predict_proba(test)[:, -1] # soft得到概率值
        prob.append(test_y_pred)
    print(mean_acc)
    mean_prob = sum(prob) / 5
    return mean_prob

In [36]:
import lightgbm as lgb

# 使用LightGBM训练
# 相比XGBoost的改进：对类别特征的处理，不需要进行one-hot
clf = lgb.LGBMClassifier()
#clf.fit(features, labels, categorical_feature = cate_features)
y_pred = ensemble_model(clf, train.drop(['fraud_reported'],axis=1), train['fraud_reported'], test.drop(['fraud_reported'],axis=1))
y_pred

第1个子模型acc0.8
第2个子模型acc0.8071428571428572
第3个子模型acc0.8
第4个子模型acc0.7928571428571428
第5个子模型acc0.7785714285714286
0.7957142857142857

array([8.98632578e-02, 7.29886861e-01, 2.80504520e-03, 8.53416032e-03,
       4.74213756e-03, 1.29921154e-02, 1.35465309e-02, 2.12872335e-02,
       1.12831845e-03, 8.20439565e-03, 1.71198030e-02, 2.21416770e-03,
       5.58729449e-01, 8.17408622e-03, 4.12523611e-03, 6.70130362e-01,
       8.31203857e-03, 8.81872367e-02, 8.20865813e-01, 2.66980221e-02,
       2.15697021e-02, 1.34393091e-02, 6.74586434e-01, 1.08121034e-02,
       3.83175077e-03, 7.23066012e-01, 7.15665196e-03, 1.66882731e-03,
       4.79802115e-01, 1.56906969e-02, 7.77876269e-01, 2.04184602e-02,
       5.80490944e-01, 3.32925051e-02, 8.40982631e-03, 3.07688874e-02,
       7.36616285e-01, 3.06471477e-03, 5.03662970e-03, 5.09562517e-02,
       8.58029580e-01, 9.94508862e-03, 3.98960028e-03, 4.17407883e-03,
       7.72271887e-02, 1.86352405e-02, 3.76893923e-03, 7.41963193e-03,
       7.82468399e-01, 1.62592685e-03, 6.10980647e-03, 3.76070206e-02,
       4.00143404e-03, 3.23873971e-01, 8.03709689e-01, 1.03863110e-02,
       3.10123505e-02, 3.59275648e-01, 2.68913802e-02, 9.20158932e-01,
       2.77367562e-03, 6.80262434e-03, 4.87291290e-03, 5.31155203e-01,
       8.09729520e-03, 1.30417666e-02, 5.63342941e-01, 8.12283961e-01,
       2.22155017e-02, 1.24761931e-02, 1.71216782e-03, 1.00542389e-02,
       4.35556813e-01, 4.69927130e-01, 7.47633663e-04, 4.15983848e-03,
       8.78057487e-03, 4.17681462e-03, 7.66650970e-01, 2.08619469e-02,
       2.53306883e-02, 3.45959214e-03, 8.95166918e-01, 6.68190529e-03,
       3.10465991e-02, 2.51213454e-02, 5.67475111e-03, 7.66152888e-03,
       1.25542602e-01, 2.20639867e-01, 9.33008601e-03, 7.04340477e-01,
       9.72063458e-01, 4.37361580e-03, 4.31339600e-03, 1.57111677e-02,
       2.04739493e-01, 2.97825157e-03, 4.53389043e-01, 4.61579197e-03,
       1.93413752e-02, 6.53140139e-01, 1.81104197e-03, 1.46305638e-02,
       1.77805709e-03, 5.42246543e-01, 2.82752965e-01, 6.57962893e-01,
       2.45122512e-02, 2.37383080e-02, 4.62605984e-03, 8.30199056e-03,
       9.87234854e-03, 3.92947991e-03, 1.69740665e-03, 2.56519851e-01,
       8.15028913e-01, 3.84419408e-03, 7.11673621e-01, 1.91556931e-02,
       1.60386802e-02, 1.18709786e-01, 8.58143183e-01, 6.26779828e-01,
       4.13361055e-02, 6.08323990e-01, 3.24949861e-02, 4.31300312e-03,
       5.66520737e-01, 3.07634979e-03, 9.43954181e-03, 3.95087814e-01,
       2.14187055e-02, 1.20526186e-02, 1.44594852e-02, 4.09455898e-03,
       9.44815090e-02, 6.04521924e-01, 7.66029423e-01, 2.49179756e-02,
       9.69315742e-02, 7.91914234e-03, 2.59980661e-01, 2.66535009e-01,
       6.69840547e-01, 9.05132567e-01, 5.91556049e-02, 4.99918884e-03,
       9.70925455e-02, 7.15520314e-03, 3.04938610e-03, 3.57709195e-01,
       9.06774270e-01, 4.86871032e-01, 1.74655678e-03, 5.01250843e-03,
       8.36105026e-01, 3.00866091e-03, 9.29910617e-02, 7.25944377e-03,
       4.21188991e-01, 6.68851739e-03, 6.98327701e-01, 5.79582943e-01,
       5.40110641e-01, 5.80893136e-01, 1.11940954e-02, 9.35946544e-03,
       7.69297512e-01, 2.26275326e-02, 2.73650562e-03, 9.38969857e-03,
       4.89416822e-01, 5.92990153e-01, 4.72520872e-03, 8.14946021e-01,
       5.65868696e-03, 2.18033359e-02, 1.83777221e-02, 3.48486219e-03,
       2.47960193e-03, 1.62613333e-02, 3.22562488e-03, 2.14922117e-03,
       2.27321514e-02, 6.56400416e-01, 4.82771771e-03, 9.65733084e-01,
       1.69147892e-02, 1.22756893e-01, 5.66545623e-02, 7.03806590e-03,
       8.36797285e-03, 9.07590930e-01, 7.27846228e-01, 2.58408411e-03,
       1.70832843e-02, 2.53404016e-02, 1.52412250e-03, 7.05124428e-01,
       3.60505518e-02, 3.29086645e-02, 7.57345470e-01, 2.49314381e-02,
       1.69670717e-02, 6.06331194e-03, 1.24492726e-02, 1.88588882e-02,
       5.30091963e-03, 5.39268333e-03, 3.32251760e-03, 7.59375631e-03,
       6.67801360e-03, 6.46063782e-03, 2.19774357e-01, 2.12603511e-02,
       3.40077210e-01, 2.07981332e-03, 1.30895021e-02, 4.20514708e-01,
       2.60024762e-02, 3.19046263e-01, 5.21179191e-03, 1.84314707e-02,
       3.19402306e-02, 6.27976874e-01, 5.08164565e-03, 1.22327251e-02,
       6.79258020e-01, 1.35785726e-02, 3.01764875e-02, 1.07899253e-02,
       3.83953752e-03, 1.60922034e-02, 7.67002566e-01, 9.17311701e-01,
       4.37549020e-03, 6.60548055e-03, 3.60566240e-03, 4.74345852e-03,
       2.64890140e-01, 8.38194041e-03, 5.57089279e-03, 1.18766736e-02,
       1.48632569e-02, 4.56093205e-01, 3.32749198e-03, 2.08051099e-02,
       4.51809777e-03, 1.35903012e-02, 3.13025991e-01, 7.30514790e-01,
       4.59928729e-01, 8.53798870e-03, 3.61921386e-03, 6.44548858e-03,
       4.19828701e-01, 1.26600227e-02, 9.11118310e-01, 4.01451175e-02,
       6.95699247e-01, 4.23109192e-03, 4.44287352e-01, 1.88659766e-03,
       2.05243228e-02, 1.56007674e-01, 2.49946390e-02, 7.81323337e-03,
       1.36687080e-02, 1.08866735e-02, 8.85825440e-01, 2.63592550e-02,
       1.65461532e-02, 6.42893520e-01, 5.57116751e-01, 1.34727153e-01,
       3.43897776e-02, 8.11358866e-03, 8.25360185e-01, 1.74232474e-03,
       3.55305361e-02, 5.27367349e-02, 1.69836740e-02, 4.15667216e-01,
       5.35958113e-01, 1.30953184e-03, 4.44886532e-01, 3.51326216e-02,
       5.10639612e-01, 7.29179997e-01, 3.63213092e-02, 7.31910184e-01,
       2.42074078e-01, 1.30042142e-02, 4.46251959e-01, 2.12188700e-03,
       5.44000481e-03, 1.16025536e-03, 1.32505638e-02, 9.46935225e-03])

In [37]:
result = pd.read_csv('./sampleSubmission.csv')
result['fraud_reported'] = y_pred
result.to_csv('./baseline4.csv', index=False)

# score =